.home-container {
  background: #eb6d18;
}

.footer-home {
  margin-top: 50px;
  height: 150px;
  background: #98521a;
  background: linear-gradient(
    0deg,
    #98521a 20%,
    rgba(0, 212, 255, 0) 100%
  );
}
