.home-container {
  /* background: #eb6d18; */
  background-image: url("../../assets/home-background.jpg");
  background-size: 100vw 300vh;
}

.home-pagination {
  display: flex;
  justify-content: center;
  width: fit-content;
  border-radius: 7px;
  background-color: chocolate;
  margin-top: 5rem;
}

.footer-home {
}
