.card-link {
  text-decoration: none;
  transition: transform 50ms;
  color: black;
}

.card-link:active {
  transform: scale(0.95, 0.95);
}

.pokemon-name {
  font-size: 23px;
  margin-bottom: 10px;
  color: aliceblue;
}

.card-div {
  text-align: center;
  display: flex;
  margin: 10px;
  width: 350px;
  height: 420px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.377);
  transition: transform 150ms, box-shadow 150ms;
  background: #F7AF25;
}

.card-div:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.377);
}

.types-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonType-span {
  margin: 10px 7px 0px;
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.card-div img {
  border-radius: 5px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  width: 200px;
  height: 200px;
}

#span-createdByMe {
  padding: 5px;
  color: rgb(255, 255, 255);
}
