.pagination-nav {
  text-align: center;
}

.pagination-nav ul {
  list-style: none;
}

.pagination-nav li {
  text-align: left;
  display: inline-block;
  margin: 5px;
}

.pagination-nav button:hover {
  cursor: pointer;
}
