.pagination-nav {
  display: inline-block;
}

.pagination-nav span {
  color: black;
  float: left;
  padding: 8px 16px;
  /* text-decoration: none; */
  transition: background-color .3s;
  border-radius: 4px;
}

.pagination-nav span:hover {
  cursor: pointer;
}

.pagination-nav span.active {
  background-color: rgb(200, 255, 0);
  color: white;
  border-radius: 4px;
}

.pagination-nav span:hover:not(.active) {
  background-color: #ddd;
  border-radius: 4px;
}
