.navBar {
  display: flex;
  position:relative;
  align-items: center;
  height: 130px;
  justify-content: space-between;
  background: #b21919;
  box-shadow: 0px 0.5px 7px 1px rgba(0, 0, 0, 0.377);
}

#img-logo {
  margin-left: 80px;
  width: 200px;
}

#img-pokeball {
  margin-left: 50px;
  width: 100px;
  transition: transform 150ms, filter 150ms;
}

#img-pokeball:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.navBar button {
  font-size: inherit;
  margin-right: 50px;
  background-color: #c5fdf0;
  color: #073b77;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  transition: background 250ms, box-shadow 250ms, transform 50ms;
}

.navBar button:hover {
  background: #80ffe1;
  box-shadow: -1px 1px 5px rgb(133, 133, 133);
}

.navBar button:active {
  outline: none;
  transform: scale(0.95, 0.95);
}
